.conteudo1{
    margin: 0 auto;
    max-width: 50vw;
    display:grid;
}

.conteudo1 p{
    text-align:left;
    font-family: Oswald, sans-serif;
    font-size: 1.5rem;
}

.conteudo1 ul{
    text-align: justify;
    font-family: Oswald, sans-serif;
    font-size: 1.5rem;
    padding-left: 2vw;
}